@font-face {
    font-family: 'AntDesign';
    src: url('./Fonts/AntDesign.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Entypo';
    src: url('./Fonts/Entypo.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'EvilIcons';
    src: url('./Fonts/EvilIcons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Feather';
    src: url('./Fonts/Feather.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'FontAwesome';
    src: url('./Fonts/FontAwesome.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'FontAwesome5Brands';
    src: url('./Fonts/FontAwesome5_Brands.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'FontAwesome5_Regular';
    src: url('./Fonts/FontAwesome5_Regular.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'FontAwesome5';
    src: url('./Fonts/FontAwesome5_Solid.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Fontisto';
    src: url('./Fonts/Fontisto.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Foundation';
    src: url('./Fonts/Foundation.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Ionicons';
    src: url('./Fonts/Ionicons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'MaterialCommunityIcons';
    src: url('./Fonts/MaterialCommunityIcons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'MaterialIcons';
    src: url('./Fonts/MaterialIcons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Octicons';
    src: url('./Fonts/Octicons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'SimpleLineIcons';
    src: url('./Fonts/SimpleLineIcons.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Zocial';
    src: url('./Fonts/Zocial.ttf') format('truetype');
  }